#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skill-title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skill-description {
    font-size: 0.9rem;
    font-weight: 400;
    max-width: 61rem;
    padding: 0 2rem;
}

.skill-bars {
    margin: 1.5rem;
}

.skill-bars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillbar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillbar-img {
    object-fit: cover;
    height: 5rem;
    width: 4rem;
    margin-right: 2rem;
}

.skill-bar-text p {
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width:720px) {
    .skill-bar-text p {
        font-size: 2vw;

    }
}

@media screen and (max-width:480px) {
    .skill-bar-text p {
        font-size: 0.75rem;

    }

    .skillbar-img {
        height: 3.25rem;
        width: 3.25rem;
    }

    .skillbar {
        flex-direction: column;
    }

    .skill-bar-text h2 {
        line-height: 2rem;
        font-size: 1rem;
    }

    .skill-bars {
        max-width: 100%;
    }

    .skill-title {
        font-size: 2rem;
    }

    .skill-description {
        font-size: 0.8rem;
    }
}