#works {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.work-title {
    margin: 1rem 0;
    font-size: 3rem;
}

.work-description {
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 1.25rem;
    max-width: 45rem;
}

.work-imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
}

.works-img {
    object-fit: cover;
    height: 16rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    width: 100%;
}

.work-btn {
    background: #fff;
    border-radius: 2rem;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin: 3rem 0;
    transition: 0.5s ease;
    color: #000 !important;
}

.portfolios p {
    display: none;
    position: relative;
}

.portfolios {
    position: relative;
    transition: height 9s;
    width: 33%;
    padding: 0.75rem;
}

.portfolios:hover p {
    display: block;
    background: rgb(50 50 50 / 60%);
    transition: 1.2s ease-out;
    position: absolute;
    top: 7rem;
    color: #fff !important;
    padding: 1rem;
    width: 100%;
    max-width: 16rem;
    margin: 0 auto;
    text-align: center;
    transform: translateY(0px);
    transition-duration: 9s;
    z-index: 0000;
    font-size: 1rem;
    border-radius: 1rem;
    left: 2rem;
}

.work_items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700rem;
}

.category {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-top: 2rem;
}

@media screen and (max-width:585px) {
    .works-img {
        height: 37vw;
        max-width: 13rem;
    }

    .work-description {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8rem;
    }

    .portfolios:hover p {
        width: 85%;
        margin: 0 auto;
        font-size: 0.75rem;
        border-radius: 1rem;
        left: 18px;
        top: 5rem;
        padding: 0.75rem;
    }

    .portfolios {
        width: 50%;
        padding: 0 0.75rem;
    }

    .work-title {
        font-size: 2rem;
    }

    .work-btn {
        margin: 1rem 0;
    }
}